<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <script>
  
	</script>
</head>
<body>

	<section id="calendar">
	  <h1>Schedule</h1>
	   <% include ../partials/nav.ejs %>
		<div class="table-responsive" style="margin-top: 100px;">			
			<table class="table">
				
			<tbody>
				<tr>
					<th>
						Company
					</th>
					<th>
						Address
					</th>
					<th>
						City
					</th>
					<th>
						State
					</th>
					<th>
						Branch Representative
					</th>
					<th>
						Phone Number
					</th>
					<th>
						Date
					</th>
					<th>
						Start Time
					</th>
					<th>
						End Time
					</th>
				</tr>
				<% r.forEach(function(r) { %>
				<tr>
					<td><%= r.company_name%></td>
					<td><%= r.address%></td>
					<td><%= r.city%></td>
					<td><%= r.state%></td>
					<td><%= r.first_name%> <%= r.last_name%></td>
					<td><%= r.phone%></td>
					<td><%= r.month%>/<%= r.date%>/<%= r.year%></td>
					<td><%= r.start_time%></td>
					<td><%= r.end_time%></td>
				</tr>
				<% }); %>
				</table>
			</div>
		  </div>
		</div>
	</section>
	
<% include ../partials/footer.ejs %>
</body>

</html>
