<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <script>
  
	</script>
</head>
<body>

	 <% include ../partials/nav.ejs %>

	<section id="calendar">
		<div class="container">
			<h1>Calendar</h1>
			
			<table>
				<tr>
					<th>
						Company
					</th>
					<th>
						Address
					</th>
					<th>
						City
					</th>
					<th>
						State
					</th>
					<th>
						Branch Representative
					</th>
					<th>
						Phone Number
					</th>
					<th>
						Date
					</th>
					<th>
						Start Time
					</th>
					<th>
						End Time
					</th>
				</tr>
				<% r.forEach(function(r) { %>
				<tr>
					<td><%= r.company_name%></td>
					<td><%= r.address%></td>
					<td><%= r.city%></td>
					<td><%= r.state%></td>
					<td><%= r.first_name%> <%= r.last_name%></td>
					<td><%= r.phone%></td>
					<td><%= r.month%>/<%= r.date%>/<%= r.year%></td>
					<td><%= r.start_time%></td>
					<td><%= r.end_time%></td>
				</tr>
				<% }); %>
			</table>
		</div>
	</section>
	
<% include ../partials/footer.ejs %>
</body>

</html>
